{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart %}


<!-- ****************************************************CSS**************************************************************** -->

<link href="{% static 'assets/css/font-awesome12.min.css' %}" rel="stylesheet" />
<!-- Custom styles for this template  and popup-btn-->
<link href="{% static 'assets/css/style12.css' %}" rel="stylesheet" />
<!-- responsive style -->
<link href="{% static 'assets/css/responsive12.css' %}" rel="stylesheet" />

<!-- PopUp -->
<!-- <link rel="stylesheet" href="{% static 'assets/css/popstyle.css' %}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->





<!-- *************************************************CSS-END*************************************************************** -->

<section class="product_section layout_padding">
   <!-- <div class="row">
   {% for category in categories %}
        <div class="container shoe" style="float: left; width: 20%;">
         <div class="productImage shoeImg">
            <img src="{{category.image.url}}" alt="">
         </div>
         
         <div class="productName shoeName">
           {{category.name}}
         </div>
       </div>
       <div class = "category">
         <img src="{{category.image.url}}" alt="">
         <a href="?category={{category.id}}" class="list-group-item 
            list-group-item-action">{{category.name}}</a>
      </div>
       {% endfor %}
      </div> -->
  
      <div class="heading_container heading_center">
         <h2>
            Our <span>products</span>
         </h2>      
      </div><br><br>




      <div class="container" >

<!-- category and search -->

         <div class="row">

            <table>
            <tr>
               <td >
         
               <!-- Filter -->
               <!-- <div class="btn-box">
                  
               <a href="{% url 'index' %}" class="list-group-item 
               list-group-item-action" style="padding: 50px">All</a>
               {% for category in categories %}
               <td>
                  <a href="?category={{category.id}}">
               <img src="{{category.image.url}}" alt=""></a>
               <a  href="?category={{category.id}}" style="padding: 50px" class="list-group-item 
               list-group-item-action">{{category.name}}</a></td>
               {% endfor %}
                </div> -->



                
                  <div class="btn-box">
                    <a href="{% url 'index' %}" class="list-group-item 
                    list-group-item-action">View All products</a>&emsp;
                    {% for category in categories %}
                    <a style="padding: 30px 40px;" href="?category={{category.id}}" class="list-group-item 
                    list-group-item-action">{{category.name}}</a>&emsp;
                    {% endfor %}
                  </div>
                


               <!-- Filter stop -->
         
               </td>
               <td style="color: black;">
                  &emsp;&emsp;&emsp;&emsp;&emsp;
               </td>
               <td style="border-spacing: 30px;">
         
                  <div class="container h-100">
                     <div class="d-flex justify-content-center h-100">
                       <div class="searchbar">
                         <input class="search_input" type="text" name="" placeholder="Search...">
                         <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                       </div>
                     </div>
                   </div>
                  
               </td>
               
            </tr>
         </table>
            
         </div>
         <br>
<!-- End category and search -->
     
<br>

<div id ="row">
<!-- Filter -->
      <!-- <div class='col-lg-2 mx-auto'>
        <div class="btn-box">
          <a href="/" class="list-group-item 
          list-group-item-action">All</a>
          {% for category in categories %}
          <a href="/?category={{category.id}}" class="list-group-item 
          list-group-item-action">{{category.name}}</a>
          {% endfor %}
        </div>
        <div class="btn-box">
         <a href="">
         View All products
         </a>
      </div>
      </div> -->
<!-- Filter-End -->

<!-- Product Side -->

   <div id ='products'>
      <div class="row mx-auto">


         {% for product in products %}
           <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="box">
                 <div class="option_container">
                    <div class="options">
                     <p style="color: aliceblue;"><b>
                        {{product.description}}</b>
                       </p>
                       <a href="" class="option1">
                       Add To Cart
                       </a>
                       <a class="popup-btn" >
                       Quick View
                       </a>
                    </div>
                 </div>
                 <div class="img-box">
                    <img src="{{product.image.url}}" alt="">
                 </div>
                 <div class="detail-box">
                    <h5>
                       {{product.name}}
                    </h5>
                    <h6>
                     ₹ {{product.price}}
                    </h6>
                 </div>
              </div>
              <!-- Pop-up -->
              <div class="popup-view">
               <div class="popup-card">
                 <a><i class="fas fa-times close-btn"></i></a>
                 <div class="product-img">
                   <img src="{{product.image.url}}" alt="">
                 </div>
                 <div class="info">
                    <br>
                   <h2>{{product.name}}<br><span>{{product.category}}</span></h2>
                   <p>{{product.description}}</p>
                   <br>
                   <span class="price">₹ {{product.price}}</span><br><br><br><br><br>
                   <a href="#" class="add-cart-btn">Add to Cart</a>
                   <!-- <a href="#" class="add-wish">Add to Wishlist</a> -->
                 </div>
               </div>
             </div>
            <!-- Pop-up End -->


            <!-- ************************Add to Cart************************************* -->
            <div class="card-footer p-0 no-gutters">
                
               {% if product|is_in_cart:request.session.cart %}
               <div class="row no-gutters">
                 <form action="?category={{category.id}}/#{{product.id}}" class="col-2" method="post">
                   {% csrf_token %}
                   <input hidden type="text" name='product' 
                   value="{{product.id}}">
                   <input hidden type="text" name='remove' 
                   value="True">
                   <input type="submit" value=" - " class="btn btn-block btn-secondary">
                 </form>
                 <div class="text-center col">{{product|cart_quantity:request.session.cart}} in cart</div>
                 <form action="?category={{category.id}}/#{{product.id}}" class="col-2" method="post">
                   {% csrf_token %}
                   <input hidden type="text" name='product' 
                   value="{{product.id}}">
                   <input type="submit" value=" + " class="btn btn-block btn-secondary">
                 </form>
               </div>
   
               {% else %}
               <form action="?category={{category.id}}/#{{product.id}}" method="POST" class="btn-block">
                 {% csrf_token %}
                 <input hidden type="text" name='product' value="{{product.id}}">
               <input type="submit" class="btn btn-primary border  form-control" 
               value = "Add to Cart">
   
               </form>
               {% endif %}              
             </div>
            <!-- ************************************************************************ -->


          </div>
           {% endfor %}
         </div>

   </div>

</div>
           
<!-- *********************************** -->
    

  </div>
</section>


<script src="js/jquery-3.4.11.min.js"></script>
<!-- popper js -->
<script src="js/popper1.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap1.js"></script>
<!-- custom js -->
<script src="js/custom1.js"></script>
<script src="{% static 'assets/js/popproduct.js' %}"></script>


{% endblock %}